@keyframes cambioColorSponsors {
    0%   {background-color: rgb(168, 2, 2);}
    25% {background-color: darkred;}
    50% {background-color: rgb(73, 1, 1);}
    75% {background-color: darkred;}
    100% {background-color: rgb(168, 2, 2);}
  }