#headers{
	position: sticky;
	margin: 0;
	width: 100%;
	top:0;
	right: 0;
	z-index: 99;
	background-position: bottom;
	background-image: url("../img/banner2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}